/*@s units */
.block {
  display: block;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.none {
  display: none;
}

.hidden {
  visibility: hidden;
}

.table-cell {
  display: table-cell;
}

.dash-line {
  border-top: 1px #ccc dashed;
  margin: 10px auto;
  display: block;
}

.bottom-line {
  border-bottom: 1px solid #e4e4e4;    
}

/*@s cursor */
.cursor-pointer {
  cursor: pointer;
}

/*@s background */
.bg-white {
  background-color: white;
}

.bg-gray {
  background-color: gray;
}

.bg-black {
  background-color: #333;
}

.bg-orange {
  background-color: orange;
}

.bg-red {
  background-color: red;
}

/*@s color */
.black {
  color: black;
}

.gray {
  color: gray;
}

.white {
  color: white;
}

.orange {
  color: orange;
}

.red {
  color: red;
}

/*@s padding */
.pd0 {
  padding: 0;
}

.pt10 {
  padding-top: 10px;
}

.pt20 {
  padding-top: 20px;
}

.pr10 {
  padding-right: 10px;
}

.pr20 {
  padding-right: 20px;
}

.pb10 {
  padding-bottom: 10px;
}

.pb20 {
  padding-bottom: 20px;
}

.pl10 {
  padding-left: 10px;
}

.pl20 {
  padding-left: 20px;
}

.paddig-auto {
  padding: auto;
}

/*@s margin */
.mg0 {
  margin: 0;
}

.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

.mr10 {
  margin-right: 10px;
}

.mr20 {
  margin-right: 20px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.ml10 {
  margin-left: 10px;
}

.ml20 {
  margin-left: 20px;
}

.mg-auto {
  margin-left: auto;
  margin-right: auto;
}

/*@s text */
.text-upper {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}