.option-works ul li {
  background-color: #d9edf7;
  border: 1px solid #bce8f1;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  color: #3a87ad;
  height: 20px;
  line-height: 20px;
}

.option-records ul li {
  border-bottom: 1px solid #EEE;
  padding: 5px;
}

.option-records .records-week {
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid #CCC;
  margin: 20px 0 10px;
}